<html>

<head>
    <title>{% block title %} {% endblock title%}</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('click', function (event) {

            if (!event.target.closest('.side-bar')) {
                closeSidebar();
                console.log("h");
            }
            else {
                console.log("he");
                expand();
            }

        });

        function closeSidebar() {
            const menu = document.getElementsByClassName("side-bar")[0];
            menu.style.width = "70px";
        }

        function expand() {
            console.log("he1");
            const menu = document.getElementsByClassName("side-bar")[0];
            if (menu.style.width == "200px") {
                menu.style.width = "70px";
            }
            else {
                menu.style.width = "200px";
            }
        }



    </script>

</head>
{% block header %}
<header>

</header>
{% endblock header %}

<body>
    <header>
        <div class="side-bar">
            <ul>
                <li data-image="menu">Menu</li>
                <a href="{% url 'home' %}">
                    <li data-image="home">Home</li>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'add_post' %}">
                    <li data-image="add">Add</li>
                </a>
                <a href="{% url 'logout' %}">
                    <li data-image="logout">logout</li>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <li data-image="login">login</li>
                </a>

                <a href="{% url 'signup' %}">

                    <li data-image="signup">signup
                    </li>
                </a>
                {% endif %}
            </ul>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>

</html>