{% extends 'base.html' %}


{% block content %}
<div class="article">
    <h1>{{post.title}}</h1>
    <p> {{ post.body }} </p>
    <span class="article-author align-right">
        <p>-{{ post.author }}</p>
    </span>
    <div class="nav-detail">
        {% if post.author == user %}
        <a class="nav-left btn  btn-primary article-author" href="{% url 'edit_post' post.pk%}">edit</a>
        <a class="nav-right btn btn-danger article-author" href="{% url 'delete_post' post.pk %}">delete</a>
        {% endif %}
    </div>

</div>
{% endblock content %}